
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #f8f9fa;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}

#productos-container, #carrito-container {
    width: 45%;
}

.producto, .carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.producto img, .carrito-item img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.producto button, .carrito-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.producto button:hover, .carrito-item button:hover {
    background-color: #0056b3;
}

#vaciar-carrito {
    background-color: #dc3545;
}

#vaciar-carrito:hover {
    background-color: #c82333;
}
